* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: #ece9fd;
  padding: 60px 23px 66px;
  font-family: "Epilogue", sans-serif;
}

ul {
  list-style: none;
}